body {
    background-image: url(./bg.jpg);
    background-size: cover;
}

#timer {
    text-align: right;
    font-size: 1.2rem;
    color: white;
    height: 1.2rem;
}

#wrapper {
    width: 700px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: cornsilk;
    border-radius: .3rem;
    font-size: 1.2rem;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}